body{
	background-color: rgba(0,55,100);
}

h1{
	color: brown; font-size: 100px; font-family: fantasy; text-decoration: line-through; 
}

#first{
	font-size: 80px;
}

.small{
	font-size: 12px;
}

h2{
	font-size: 90px; font-style: italic; font-family: sans-serif; color: rgb(0,200,0); text-decoration: underline;
}

span{
	font-style: italic;
}

h2 span{
	text-decoration: line-through;
}