body{
	background-color: pink; 
}
h1{
	color: gold;
	font-size: 90px;
	text-decoration: underline;
}

#first{
	font-size: 150px;
}

.small{
	font-size: 12px;
}

h2{
	font-size: 40px;
	color: teal;
	text-decoration:underline;
}


span{
	font-style: italic;
}

h2 span{
	text-decoration: line-through;
}